<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <system.runtime.remoting>

    <application name="DemoClient">



      <client url="tcp://localhost:5150">

        <activated type="BankDB.BankDB, BankDB" />

      </client>



    </application>

  </system.runtime.remoting>
</configuration>